[submodule "src/usbd"]
	path = src/usbd
	url = https://github.com/wiredopposite/usbd.git
[submodule "components/btstack"]
	path = components/btstack
	url = https://github.com/bluekitchen/btstack.git
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git